:root {
    --color-white: #fff;
    --color-light: #f5f5f5;
    --color-black: #131316;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: var(--color-white);
}


/*ajouter un client*/

.tables form {
    width: 500px;
    align-items: self-start;
    padding: 0 20px 20px 20px;
    z-index: 1;
}

.ajoutmachine {
    background: var( --color-light);
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    margin-top: 50px;
    margin-left: 225px;
    width: 1025px;
    height: 470px;
}

.tables table tr td {
    color: var( --color-black);
}

table {
    width: 100%;
}

.champ {
    position: relative;
    min-width: 370px;
    max-width: 80%;
}

.champ input,
select {
    width: 85%;
    height: 40px;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
    border: none;
    background: var(--color-white);
    border: #070002 solid 1px;
}

select {
    color: var(--color-black);
}

.champ i {
    position: absolute;
    cursor: pointer;
    right: 78px;
    top: 10px;
}

.ajoutmachine h2 {
    text-align: center;
    margin-bottom: 30px;
}

#machine {
    font-weight: bold;
    font-size: 35px;
}

.infomach {
    color: #852747;
    font-size: 22px;
}

.champ #dt {
    color: var(--color-black);
}

::-webkit-calendar-picker-indicator {
    filter: invert(var(--invert0));
}

.ajoutmachine .line1 {
    width: 175px;
    font-size: 16px;
    margin-right: -67px;
}

.ajoutmachine .line2 {
    width: 170px;
    margin-left: -2px;
    font-size: 16px;
    margin-right: -40px;
}

.champoutil input {
    width: 240px;
    height: 40px;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
    border: none;
    background: var(--color-white);
    border: #070002 solid 1px;
}

.outilligne {
    margin-left: -75px;
    margin-top: -10px;
}

.nom {
    margin-left: -500px;
}

.line {
    height: 55px;
}

.ajouter_outil {
    color: black;
    font-size: 16px;
    padding-right: 10px;
    color: #7c2441;
    text-decoration: none;
}

.supprimer_outil {
    color: black;
    font-size: 16px;
    color: #7c2441;
    text-decoration: none;
}

.supprimer_outil:hover,
.ajouter_outil:hover {
    color: #aa5c76;
}

.add_delete {
    margin-left: 722px;
    margin-top: 15px;
    margin-bottom: 10px;
}


/**style de boutons**/

.button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-annuler-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-82-edgec {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient( to left, #095f51(340deg 100% 16%) 0%, #32bea6(340deg 100% 32%) 8%, #32bea6(340deg 100% 32%) 92%, #095f51(340deg 100% 16%) 100%);
}

.button-82-edgea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient( to left, #a81625(340deg 100% 16%) 0%, #ed5564(340deg 100% 32%) 8%, #ed5564(340deg 100% 32%) 92%, #a81625(340deg 100% 16%) 100%);
}

.button-82-frontc {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: #317ec1;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-82-fronta {
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: #d54a58;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

#btnc {
    margin-left: 550px;
    margin-top: 15px;
    margin-right: -50px;
    width: 140px;
}

#btna {
    margin-left: 60px;
    margin-top: 15px;
}

.btnconfannuler {
    display: inline-flex;
    margin-left: -187px;
}

@media (min-width: 768px) {
    .button-82-front {
        font-size: 1.25rem;
        padding: 12px 42px;
    }
}

.button-82-pushable:hover {
    filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
    outline: none;
}

.fa-user-plus {
    font-size: 20px;
    color: white;
}


/*** style bouton diplome**/


/* CSS */

.button-22 {
    align-items: center;
    /* appearance: button; */
    /* background-color: #852747; */
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #7c2441;
    cursor: pointer;
    display: flex;
    font-size: 100%;
    line-height: 1.15;
    margin-left: -45px;
    margin-top: -5px;
    padding: 10px 21px;
    text-align: center;
    text-transform: none;
    width: 218px;
    text-decoration: none;
    /* transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out; */
}


/* .button-22:active {
  background-color: #7c2441;
}*/

.button-22:hover {
    color: #6b1d37;
}

#linebtn {
    width: 195px;
}

#infopro {
    margin-top: 15px;
}

#champ1 {
    margin-left: -669px;
    margin-top: -1px;
}

#dir {
    margin-right: 20px;
}

.btnannuler {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 280px;
    height: 50px;
}