* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f5f5f5;
}

.container {
    position: relative;
    width: 70vw;
    height: 80vh;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-40deg, #3e4f91, #336b9d);
    z-index: 6;
    left: -50%;
    transform: translateX(100%);
    transition: 1s ease-in-out;
}

.Authentification_creation {
    position: absolute;
    top: 0;
    left: -220px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}

form.Creation {
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

form.Authentification {
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

.title {
    font-size: 35px;
    color: #296090;
    margin-bottom: 10px;
    font-weight: bold;
}

.input-field {
    width: 100%;
    height: 50px;
    background: #c1c0c0;
    margin: 10px 0;
    border: 1px solid #262626;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
::placeholder {
    color: #353535;

}

.input-field i {
    flex: 1;
    text-align: center;
    color: #353535;
    font-size: 18px;
}

.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #0c0c0c;
}

.btn {
    width: 170px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #296090;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    z-index: 6;
}
.btn2 {
    width: 170px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #296090;
    color: #fff;
    font-weight: 600;
}

#authen-btn {
    background: #f5f5f5;
    color: #444;
    margin-left: 570px;
    margin-top: 360px;
}

#creat-btn
{
    background: #f5f5f5;
    color: #444;
    margin-left: 1000px;
    margin-top: 200px;

}
.account-text{
    margin-left: -5px;
    color: #515151;
    font-size: 16px;

}
#creat-btn2
{
    color: #4371ad;
    font-weight: bold;
}
#creat-btn:hover,
#authen-btn:hover {
    color: #296090;
}

.social-text {
    margin: 10px 0;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.panels-container {
    position: absolute;
    top: 0;
    margin-left: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
.panel {
    z-index: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    text-align: center;
    margin-top: 510px;
}

.left-panel {
    pointer-events: none;
}
#create{
    width: 100%;
    z-index: 6;
    margin-top: -550px;
    margin-left: 1050px;
}

.panel h3 {
    font-size: 24px;
    font-weight: 600;
}

.panel p {
    font-size: 15px;
    padding: 10px 0;
}

.image {
    width: 40%;
    z-index: 6;
    margin-left:-250px ;
}

.logo {
    width: 200px;
    height: 200px;
    transition: 1.1s ease-in-out;
    transition-delay: 0.5s;
    margin-top: -90px;
}

.left-panel .image,
.left-panel .logo,
.left-panel .content {
    transform: translateX(-200%);
}

.right-panel .image,
.right-panel .logo,
.right-panel .content {
    transform: translateX(0);
}

/* .account-text {
    display: none;
} */





/*Responsive*/

@media (max-width:779px) {
    .container {
        width: 100vw;
        height: 100vh;
    }
}

@media (max-width:635px) {
    .container::before {
        display: none;
    }
    form {
        width: 80%;
    }
    form#creation {
        display: none;
    }
    .container.container.creat-mode2 form #authentification {
        display: flex;
        opacity: 1;
    }
    .container.container.creat-mode2 form #Creation {
        display: none;
    }
    .panels-container {
        display: none;
    }
    .account-text {
        display: initial;
        margin-top: 30px;
    }
}

@media (max-width:320px) {
    form {
        width: 90%;
    }
}