form {
    width: 80%;
    align-items: center;
    padding: 0 20px 20px 20px;
    z-index: 1;
}

.ajoutProduitCon {
    min-height: 400px;
    background: var( --color-light);
    padding: 20px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    margin-top: 50px;
    margin-left: 235px;
    width: 1000px;
}




/*titre de la formulaire*/

.titreProduitConst {
    font-size: 35px;
    text-align: center;
}


/*les input*/

.champProduitConstruisable {
    position: relative;
    min-width: 370px;
    max-width: 80%;
}

.champProduitConstruisable input,
select {
    width: 80%;
    height: 40px;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
    border: none;
    background: var(--color-white);
    border: #070002 solid 1px;
    margin-bottom: 20px;
}


/*les icones qui sont dans les champs input*/

.champProduitConstruisable i {
    position: absolute;
    right: 90px;
    top: 10px;
    cursor: pointer;
}

.formtxt {
    font-size: 16px;
    margin-left: 20px;
}


/*le titre de la formulaire*/

#emp {
    font-weight: bold;
    font-size: 35px;
}


/*reglages de la positions de les inputs*/

#codebarre,
#nomproduit,
#tempsreglages {
    width: 130px;
}

#typeproduit {
    width: 150px;
}

.formProduitConst {
    margin-top: 50px;
    padding-top: 50px;
}

#nomempeff {
    padding-top: -50px;
}

.line2{
    margin-right: -40px;
}
/**style des boutons**/

.buttonpointeff {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-decoration: none;
}

.button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-82-edgec {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient( to left, #095f51(340deg 100% 16%) 0%, #32bea6(340deg 100% 32%) 8%, #32bea6(340deg 100% 32%) 92%, #095f51(340deg 100% 16%) 100%);
}

.button-82-edgea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient( to left, #a81625(340deg 100% 16%) 0%, #ed5564(340deg 100% 32%) 8%, #ed5564(340deg 100% 32%) 92%, #a81625(340deg 100% 16%) 100%);
}

.button-82-frontc {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: #317ec1;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-82-fronta {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: #d54a58;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.btnProduitAchetable {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 300px;
    margin-top: 70px;
    margin-left: 180px;
}

.btnProduitConstruisable {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 300px;
    margin-top: 70px;
    margin-left: 360px;
}

@media (min-width: 768px) {
    .button-82-front {
        font-size: 1.25rem;
        padding: 12px 42px;
    }
}

.button-82-pushable:hover {
    filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
    outline: none;
}